%%-*- mode: erlang -*-

{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.
{erl_opts, [{parse_transform, lager_transform},
            debug_info,
            warnings_as_errors]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.
{erlydtl_opts, [
            {compiler_options, [report, return, debug_info]}]}.

{deps, [
    {erlydtl, "0.7.0",
     {git, "git://github.com/evanmiller/erlydtl.git", {tag, "6a9845f"}}},
    {lager, ".*",
     {git, "git://github.com/basho/lager", {tag, "1.2.2"}}},
    {webmachine, ".*",
     {git, "git://github.com/basho/webmachine", {tag, "64176ef9b"}}}]}.
