html, body {
  background: #333 url(../img/noise.png);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #444;
}

#app {
  width: 400px;
  background: #fff;
  margin: 50px auto;
  border-radius: 8px 8px 6px 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -webkit-background-clip: padding-box;
}

.header {
  color: #fff;
  overflow: hidden;
  border-radius: 6px 6px 0 0;
  padding: 10px 20px;
  background: rgb(255,175,75);
  background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1)));
  background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
  border: 1px solid #9b5600;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  -webkit-background-clip: padding-box;
}

.header h1 {
  float: left;
  font-size: 32px;
  line-height: 32px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
  margin: 0;
}

.header .add-tweet {
  cursor: pointer;
  font-size: 28px;
  line-height: 28px;
  float: right;
  padding: 0 10px 5px 10px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgb(255,149,19);
  background: -moz-linear-gradient(top,  rgba(255,149,19,1) 0%, rgba(220,121,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,149,19,1)), color-stop(100%,rgba(220,121,0,1)));
  background: -webkit-linear-gradient(top,  rgba(255,149,19,1) 0%,rgba(220,121,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,149,19,1) 0%,rgba(220,121,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,149,19,1) 0%,rgba(220,121,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,149,19,1) 0%,rgba(220,121,0,1) 100%);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.header .add-tweet:hover {
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
}

.header .add-tweet:active {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3);
  background: rgb(220,121,0);
  background: -moz-linear-gradient(top,  rgba(220,121,0,1) 0%, rgba(255,149,19,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,121,0,1)), color-stop(100%,rgba(255,149,19,1)));
  background: -webkit-linear-gradient(top,  rgba(220,121,0,1) 0%,rgba(255,149,19,1) 100%);
  background: -o-linear-gradient(top,  rgba(220,121,0,1) 0%,rgba(255,149,19,1) 100%);
  background: -ms-linear-gradient(top,  rgba(220,121,0,1) 0%,rgba(255,149,19,1) 100%);
  background: linear-gradient(to bottom,  rgba(220,121,0,1) 0%,rgba(255,149,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc7900', endColorstr='#ff9513',GradientType=0 );
}

.add-tweet-form {
  display: none;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: #888 url(/img/noise.png);
}

.add-tweet-form .message {
  font-size: 22px;
  padding: 6px 10px;
  width: 336px;
  border-radius: 6px;
  border: 1px solid #444;
  display: block;
}
.add-tweet-form .button {
  display: block;
  float: right;
  color: #fff;
  font-size: 20px;
  padding: 6px 20px;
  border-radius: 6px;
  border: 1px solid #000;
  margin-top: 10px;
  text-shadow: 0 -1px 1px #000;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
  background: rgb(125,126,125);
  background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1)));
  background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
}

.add-tweet-form .button:hover {
  background: rgb(255,175,75);
  background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1)));
  background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.add-tweet-form .button:active {
  background: rgb(255,146,10);
  background: -moz-linear-gradient(top,  rgba(255,146,10,1) 0%, rgba(255,175,75,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,146,10,1)), color-stop(100%,rgba(255,175,75,1)));
  background: -webkit-linear-gradient(top,  rgba(255,146,10,1) 0%,rgba(255,175,75,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,146,10,1) 0%,rgba(255,175,75,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,146,10,1) 0%,rgba(255,175,75,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,146,10,1) 0%,rgba(255,175,75,1) 100%);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.tweet-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 0;
  border-radius: 0 0 6px 6px;
}

.tweet-list li {
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.tweet-list li:first-child {
  border-top: 0;
}
.tweet-list li:last-child {
  border-radius: 0 0 6px 6px;
}

.tweet-list li .avatar {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;

  -webkit-background-clip: padding-box;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.tweet-list li .message {
  float: left;
  margin-left: 20px;
  font-size: 18px;
  padding: 16px 0;
}
